@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

body {
    background-color: #68ffcf;
    margin: 0;
}

::selection{
    background: rgba(0, 0, 0, 0.1);
}

h1{
  display: block;
  width: 500px;
  height: 100px;
  line-height: 100px;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  text-transform:uppercase;
  font-size: 50px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  cursor:pointer;
  user-select: none;
  margin: auto;
  margin-top: 10px;
}

h1 span.light{
  color:#fefefe;
  text-shadow:
    0px 1px 0px #c0c0c0,
    0px 2px 0px #b0b0b0,
    0px 3px 0px #a0a0a0,
    0px 4px 0px #909090,
    0px 5px 10px rgba(0, 0, 0, 0.6);
}

h1 span.dark{
  color: #101010;
  text-shadow:
    0px 1px 0px #555555,
    0px 2px 0px #454545,
    0px 3px 0px #353535,
    0px 4px 0px #252525,
    0px 5px 10px rgba(0, 0, 0, 0.6);
}

h1:active{
  line-height: 105px;
}

h1:active span.light{
  color:#fefefe;
  text-shadow:
    0px 0px 0px #c0c0c0,
    0px 0px 0px #b0b0b0,
    0px 0px 0px #a0a0a0,
    0px 0px 0px #909090,
    0px 1px 3px rgba(0, 0, 0, 0.4);
}

h1:active span.dark{
  color: #101010;
  text-shadow:
    0px 0px 0px #555555,
    0px 0px 0px #454545,
    0px 0px 0px #353535,
    0px 0px 0px #252525,
    0px 1px 3px rgba(0, 0, 0, 0.4);
}

#logo {
    position: absolute;
    margin-left:30%;
    margin-top: -25px;
}

.grid {
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: auto auto;
    margin-top: 7%;
    text-align: center;
}

#button {
    margin-left: 15px;
    margin-top: 30px;
    right: 45px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    width: 15px;
    height: 15px;
    background-color: grey;
    cursor: pointer;
  }
  
  .square {
    width: 15px;
    height: 15px;
    background-color: grey;
  }
  
  #wrapper {
    cursor: pointer;
    position: absolute;
    width: 85px;
    height: 95px;
    top: 0px;
    left: 0px;
  }

/****************************************** AFTER HEADER *****************************************/

#bottomSlide {
    width: 100%;
    height: 15px;
    background-color: #fc9300;
    position: absolute;
    bottom: 0;
    border: none;
    animation: grow 3s;
    margin-bottom: 0px;
}

@keyframes grow {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

/************************************* CONTENT *********************************************/

.header {
    width: 100%;
}

h2 {
    color: #FEFEFE;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    margin-bottom: 0%;
}

input {
    background-color: #68ffcf;
    border: none;
    border-bottom: 2px solid white;
    width: 50%;
    height: 30px;
}

input:focus {
    outline: none;
}

hr {
    width: 90%;
}