@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

body {
    background-color: #68ffcf;
    margin: 0;
}

::selection{
    background: rgba(0, 0, 0, 0.1);
}

h1{
  display: block;
  width: 500px;
  height: 100px;
  line-height: 100px;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  text-transform:uppercase;
  font-size: 50px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  cursor:pointer;
  user-select: none;
  margin: auto;
  margin-top: 10px;
}

h1 span.light{
  color:#fefefe;
  text-shadow:
    0px 1px 0px #c0c0c0,
    0px 2px 0px #b0b0b0,
    0px 3px 0px #a0a0a0,
    0px 4px 0px #909090,
    0px 5px 10px rgba(0, 0, 0, 0.6);
}

h1 span.dark{
  color: #101010;
  text-shadow:
    0px 1px 0px #555555,
    0px 2px 0px #454545,
    0px 3px 0px #353535,
    0px 4px 0px #252525,
    0px 5px 10px rgba(0, 0, 0, 0.6);
}

h1:active{
  line-height: 105px;
}

h1:active span.light{
  color:#fefefe;
  text-shadow:
    0px 0px 0px #c0c0c0,
    0px 0px 0px #b0b0b0,
    0px 0px 0px #a0a0a0,
    0px 0px 0px #909090,
    0px 1px 3px rgba(0, 0, 0, 0.4);
}

h1:active span.dark{
  color: #101010;
  text-shadow:
    0px 0px 0px #555555,
    0px 0px 0px #454545,
    0px 0px 0px #353535,
    0px 0px 0px #252525,
    0px 1px 3px rgba(0, 0, 0, 0.4);
}

#logo {
    position: absolute;
    margin-left:30%;
    margin-top: -25px;
}

.grid {
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: auto auto;
    margin-top: 7%;
    text-align: center;
}

#button {
    margin-left: 30px;
    margin-top: 30px;
    right: 45px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    width: 15px;
    height: 15px;
    background-color: grey;
    cursor: pointer;
  }
  
  .square {
    width: 15px;
    height: 15px;
    background-color: grey;
  }
  
  #wrapper {
    cursor: pointer;
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    width: 75px;
    height: 75px;
    top: 0px;
    left: 0px;
  }

  #question {
      font-size: 5em;
      color: grey;
      position: absolute;
      right: 30px;
      top: 20px;
      cursor: pointer;
  }

  #question:hover {
    color: #dbdbdb
  }

  #home {
    font-size: 5em;
    color: grey;
    position: absolute;
    top: 17px;
    left: 100px;
    cursor: pointer;
  }

  #home:hover {
    color: #dbdbdb
  }

/****************************************** AFTER HEADER *****************************************/

#bottomSlide {
    width: 100%;
    height: 15px;
    background-color: #fc9300;
    position: absolute;
    bottom: 0;
    border: none;
    animation: grow 3s;
    margin-bottom: 0px;
}

@keyframes grow {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

/************************************* CONTENT *********************************************/

.header {
    width: 100%;
}

h2 {
    color: #595959;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    margin-bottom: 0%;
    font-size: 2em;
}

input {
    background-color: #68ffcf;
    border: none;
    border-bottom: 2px solid white;
    width: 50%;
    height: 30px;
    color: #595959;
}

input:focus {
    outline: none;
}

.output {
    text-align: left;
    color: #595959;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
}

#goodOutput {
    margin-left: 5%;
    padding-right: 10%;
}

#goodButton {
    font-size: 1.5em;
    color: #595959;
}

#goodButton:hover {
    cursor: pointer;
}

#improveOutput {
    margin-left: 5%;
    padding-right: 10%;
}

hr {
    width: 80%;
    color: white;
    border: 0;
    border-top: 2px solid white;
    height: 2px;
}

#goodItem {
    font-size: 1em;
}

#improveItem {
    font-size: 1em;
}

#bullet {
    font-size: .4em;
    margin-top: -20px;
}

/******************************************* ABOUT LOGGER PAGE CSS ****************************************************/

#AboutLogger {
width: 300px;
margin: auto;
margin-top: 10%;
}

#loggerMain {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    color: #595959;
}

.exitIcon {
    visibility: hidden;
    float: right;
}

.editIcon {
    visibility: hidden;
    float: right;
    margin-right: 5px;
}

.exitIcon:hover {
    cursor: pointer;
}

.editIcon:hover {
    cursor: pointer;
}

#exitImprove0:hover {
    cursor: pointer;
}

#editImprove0:hover {
    cursor: pointer;
}